body {
    font: 11px Verdana, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    margin: 0px;
    padding: 20px 10px 0px;
    background: #006600 url(images/base-bg.gif) repeat-x top;
}
.textfield {
    font-size: 11px;
    color: #FFFFFF;
    background: #669999;
    border: 1px solid #CCCCCC;
    padding-left: 1px;
    font-family: 'Arial Rounded MT Bold';
}
.bottom_addr {
    font-size: 11px;
    color: #FFFFFF;
    padding: 5px 0 12px 0;
    text-align: center;
    font-size: 10px;
    background-color: #006666;
}
h1 {
    color: #FFFFFF;
    margin: 0px 0px 5px;
    padding: 0px 0px 3px;
    font: bold 18px Verdana, Arial, Helvetica, sans-serif;
    border-bottom: 1px dashed red;
    text-align: center;
    background-color: #006666;
    border-bottom-color: #00FFFF;
}
h3{
	color:whitesmoke;
	}
h4{
    color:white;
    }
a {
    color: #00FFFF;
    font-size: 11px;
}
a:hover {
    color: #FFFFFF;
}
.err {
    color: #FF0000;
}
th {
	font-weight: bold;
	text-align: left;
}
#page {
    width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 0px;
    background: #006666;
    height: auto;
}
#header {
    text-align: center;
    background: #006666;
}
#container {
    border: 1px solid #006600;
    padding: 4px 6px 2px 6px;
    width: 970px;
    margin: 0 auto;
    background: #006666;
    font-size: 12px;
    text-align: justify;
    margin-top: 20px;
}
#footer {
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    background: #006666;
}
